{
  "TableUserName": "",
  "CreateTransactionsQueueName": "",
  "TableTransactionsCardName": "",
  "TableTransactionsCategoryName": "",
  "Env": "dev"
  "SecretTelegram": "",
  "TableReportTransactionsMonthlyName": "",
  "TableReportTransactionsCardName": "",
}