# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Build directories
!jest.config.ts
*.d.ts

# test
coverage

# CDK asset staging directory
.cdk.staging
cdk.out
dist

# esbuild directories
.esbuild

# env
.env