{
  "TableReportTransactionsMonthlyName": "",
  "TableReportTransactionsCategoryName": "",
  "TableReportTransactionsCardName": "",
  "QueueReportTransactionsMonthlyName": "",
  "QueueReportTransactionsCategoryName": "",
  "QueueReportTransactionsCardName": ""
}