{
  "TableUserName": "",
  "TableTransactionsCardName": "",
  "TableTransactionsCategoryName": "",
  "Env": "dev"
  "SecretTelegram": "",
  "TableReportTransactionsMonthlyName": "",
  "TableReportTransactionsCardName": "",
  "BusTransactions": "",
}