{
  "Parameters": {
    "EnvBase": "local",
    "DbHost": "localhost",
    "DbName": "local",
    "DbUser": "local",
    "DbPassword":"local",
    "DbPort": 99999,
    "DbNameInstance":"local-db"
  }
}
